<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="magazzino.bobo.com.magazzinodomestico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategorieActivity"
            android:label="@string/title_activity_categorie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StanzeActivity"
            android:label="@string/title_activity_stanze"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MobiliActivity"
            android:label="@string/title_activity_mobili"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContenitoriActivity"
            android:label="@string/title_activity_contenitori"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contenitori_DettaglioActivity"
            android:label="@string/title_activity_contenitori__dettaglio"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>